In [261]:
import pandas as pd
import numpy as np

# Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

## Подготовка датасета

In [262]:
df = pd.read_csv(r'c:\Users\petrenkovn\Dropbox\DS-22\Data_Files\Статистика.практика_и_дз\horse_data.csv', header=None, names=['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','type of lesion','lesion (not used 1)','lesion (not used 2)','cp_data'])

df.head(10)

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion,lesion (not used 1),lesion (not used 2),cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
5,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
6,1,1,526802,37.90,48,16,1,1,1,1,...,37.00,7.00,?,?,1,1,3124,0,0,2
7,1,1,529607,?,60,?,3,?,?,1,...,44.00,8.30,?,?,2,1,2208,0,0,2
8,2,1,530051,?,80,36,3,4,3,1,...,38.00,6.20,?,?,3,1,3205,0,0,2
9,2,9,5299629,38.30,90,?,1,?,1,1,...,40.00,6.20,1,2.20,1,2,0,0,0,1

In [263]:
# df.info()

### Очистка и расшифровка данных
Выполним очистку данных - вопросительные знаки на None, числовые значения приведем к float.

In [264]:
# список числовых столбцов, составлен на основе метаданных о датасете
list_numeric_columns = [
    'rectal temperature',
    'pulse',
    'respiratory rate',
    'nasogastric reflux PH',
    'packed cell volume',
    'total protein',
    'abdomcentesis total protein',
]
# список категориальных столбцов
list_categorial_columns = [
    'surgery?',
    'Age',
    'temperature of extremities',
    'peripheral pulse',
    'mucous membranes'
]

In [265]:
# применение конвертации для датафрейма. Числовые столбцы должны стать float.
for column in list_numeric_columns:
    df[column] = df[column].apply(lambda x: None if x == '?' else float(x) )

# df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     300 non-null    object
 1   Age                          300 non-null    int64
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory rate             242 non-null    float64
 6   temperature of extremities   300 non-null    object
 7   peripheral pulse             300 non-null    object
 8   mucous membranes             300 non-null    object
 9   capillary refill time        300 non-null    object
 10  pain                         300 non-null    object
 11  peristalsis                  300 non-null    object
 12  abdominal distension         300 non-null    object
 13  nasogastric tube             300 non-null    object
 14  nasogastric reflux           300 non-null    object
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination           300 non-null    object
 17  abdomen                      300 non-null    object
 18  packed cell volume           271 non-null    float64
 19  total protein                267 non-null    float64
 20  abdominocentesis appearance  300 non-null    object
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      300 non-null    object
 23  surgical lesion?             300 non-null    int64
 24  type of lesion               300 non-null    int64
 25  lesion (not used 1)          300 non-null    int64
 26  lesion (not used 2)          300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(7), int64(7), object(14)
memory usage: 65.8+ KB

In [266]:
# словарь с расшифровкой категориальных данных. Мэппинги взяты из метаданных к источнику
dict_columnvaluesmap = {
    'surgery?':
    {
        '1':'Yes, it had surgery', 
        '2':'It was treated without surgery',
    },
    'Age':
    {
        '1':'Adult horse', 
        '9':'Young (< 6 months)',
    },
    'temperature of extremities':
    {
        '1':'Normal', 
        '2':'Warm',
        '3':'Cool',
        '4':'Cold',
    },
    'peripheral pulse':
    {
        '1':'normal', 
        '2':'increased',
        '3':'reduced',
        '4':'absent',
    },
    'mucous membranes':
    {
        '1':'normal pink', 
        '2':'bright pink',
        '3':'pale pink',
        '4':'pale cyanotic',
        '5':'bright red / injected',
        '6':'dark cyanotic',
    },
}
# dict_columnvaluesmap.keys()

In [267]:
# df = pd.read_csv(r'c:\Users\petrenkovn\Dropbox\DS-22\Data_Files\Статистика.практика_и_дз\horse_data.csv', header=None, names=['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','type of lesion','lesion (not used 1)','lesion (not used 2)','cp_data'])

In [268]:
# расшифровка значений категориальных столбцов с помощью словаря. В категориальных столбцах ожидается появление значений None
for column in dict_columnvaluesmap.keys():
    df[column] = df[column].apply(lambda x: dict_columnvaluesmap[column].get(str(x), None))

# df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     299 non-null    object
 1   Age                          300 non-null    object
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory rate             242 non-null    float64
 6   temperature of extremities   244 non-null    object
 7   peripheral pulse             231 non-null    object
 8   mucous membranes             253 non-null    object
 9   capillary refill time        300 non-null    object
 10  pain                         300 non-null    object
 11  peristalsis                  300 non-null    object
 12  abdominal distension         300 non-null    object
 13  nasogastric tube             300 non-null    object
 14  nasogastric reflux           300 non-null    object
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination           300 non-null    object
 17  abdomen                      300 non-null    object
 18  packed cell volume           271 non-null    float64
 19  total protein                267 non-null    float64
 20  abdominocentesis appearance  300 non-null    object
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      300 non-null    object
 23  surgical lesion?             300 non-null    int64
 24  type of lesion               300 non-null    int64
 25  lesion (not used 1)          300 non-null    int64
 26  lesion (not used 2)          300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(7), int64(6), object(15)
memory usage: 65.8+ KB

## Изучение датасета

### Числовые столбцы

In [269]:
df[list_numeric_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rectal temperature           240 non-null    float64
 1   pulse                        276 non-null    float64
 2   respiratory rate             242 non-null    float64
 3   nasogastric reflux PH        53 non-null     float64
 4   packed cell volume           271 non-null    float64
 5   total protein                267 non-null    float64
 6   abdomcentesis total protein  102 non-null    float64
dtypes: float64(7)
memory usage: 16.5 KB

In [270]:
df[list_numeric_columns].describe()

,rectal temperature,pulse,respiratory rate,nasogastric reflux PH,packed cell volume,total protein,abdomcentesis total protein
count,240.000000,276.000000,242.000000,53.000000,271.000000,267.000000,102.000000
mean,38.167917,71.913043,30.417355,4.707547,46.295203,24.456929,3.019608
std,0.732289,28.630557,17.642231,1.982311,10.419335,27.475009,1.968567
min,35.400000,30.000000,8.000000,1.000000,23.000000,3.300000,0.100000
25%,37.800000,48.000000,18.500000,3.000000,38.000000,6.500000,2.000000
50%,38.200000,64.000000,24.500000,5.000000,45.000000,7.500000,2.250000
75%,38.500000,88.000000,36.000000,6.500000,52.000000,57.000000,3.900000
max,40.800000,184.000000,96.000000,7.500000,75.000000,89.000000,10.100000

В наборе данных представлено 7 числовых параметров, из них 5 достаточно полно заполнены непустыми значениями.
Возьмем **следующие 5 столбцов для дальнейшего изучения**:
- rectal temperature
- pulse
- respiratory rate
- packed cell volume
- total protein

Из этих 5-ти у 3-х очень большая дисперсия (СКО больше 0,3 среднего):
- pulse
- respiratory rate
- total protein

### Категориальные столбцы

In [271]:
df_categorial_columns = df[list_categorial_columns]
df_categorial_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    object
 1   Age                         300 non-null    object
 2   temperature of extremities  244 non-null    object
 3   peripheral pulse            231 non-null    object
 4   mucous membranes            253 non-null    object
dtypes: object(5)
memory usage: 11.8+ KB

Выбираем для изучения **следующие три столбца**:
- surgery?
- temperature of extremities
- mucous membranes

Списки возможных значений ниже.

In [272]:
df['surgery?'].value_counts()

Yes, it had surgery               180
It was treated without surgery    119
Name: surgery?, dtype: int64

In [273]:
df['temperature of extremities'].value_counts()

Cool      109
Normal     78
Warm       30
Cold       27
Name: temperature of extremities, dtype: int64

In [274]:
df['mucous membranes'].value_counts()

normal pink              79
pale pink                58
pale cyanotic            41
bright pink              30
bright red / injected    25
dark cyanotic            20
Name: mucous membranes, dtype: int64

# Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### rectal temperature

Определим выбросы через межквартильный размах

In [275]:
q1 = df['rectal temperature'].quantile(0.25)
q3 = df['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(f'Lower Bound:{lower_bound}, Higher Bound: {upper_bound}')
remove_outliers = df[ (df['rectal temperature'] < lower_bound) | (df['rectal temperature'] > upper_bound) ][['rectal temperature']].sort_values('rectal temperature')
remove_outliers

Lower Bound:36.74999999999999, Higher Bound: 39.550000000000004

     rectal temperature
44                 35.4
141                36.0
238                36.1
80                 36.4
118                36.5
298                36.5
251                36.6
99                 39.6
75                 39.7
20                 39.9
281                40.0
54                 40.3
91                 40.3
259                40.8

Предложение - для  выбросов данного параметра ничего не предпринимать. В данном случае маловероятно, что аномально высокие значения являются ошибкой ввода данных или погрешностью измерения. **Оставляем**.

### pulse

In [276]:
column = 'pulse'
q1 = df[column].quantile(0.25)
q3 = df[column].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(f'Lower Bound:{lower_bound}, Higher Bound: {upper_bound}')
remove_outliers = df[ (df[column] < lower_bound) | (df[column] > upper_bound) ][[column]].sort_values(column)
remove_outliers

Lower Bound:-12.0, Higher Bound: 148.0

     pulse
41   150.0
275  150.0
55   160.0
3    164.0
255  184.0

Предположим, что погрешность измерения. **Удаляем**.

In [277]:
df[f'{column}.before cleansing'] = df[column]
df[column] = df[column].apply( lambda x: None if (x < lower_bound) | (x > upper_bound) else x )

Проверяем, что описательные статистики изменились (min, max).

In [278]:
df[[column,f'{column}.before cleansing']].describe()

            pulse  pulse.before cleansing
count  271.000000              276.000000
mean    70.258303               71.913043
std     26.082484               28.630557
min     30.000000               30.000000
25%     48.000000               48.000000
50%     64.000000               64.000000
75%     88.000000               88.000000
max    146.000000              184.000000

### respiratory rate

In [279]:
column = 'respiratory rate'
q1 = df[column].quantile(0.25)
q3 = df[column].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(f'Lower Bound:{lower_bound}, Higher Bound: {upper_bound}')
remove_outliers = df[ (df[column] < lower_bound) | (df[column] > upper_bound) ][[column]].sort_values(column)
remove_outliers

Lower Bound:-7.75, Higher Bound: 62.25

     respiratory rate
120              66.0
125              68.0
265              68.0
103              68.0
229              70.0
295              70.0
41               72.0
82               80.0
208              80.0
84               80.0
255              84.0
3                84.0
244              88.0
269              90.0
186              90.0
106              96.0
39               96.0

На погрешность или ошибку не похоже. **Оставляем**.

### packed cell volume

In [280]:
column = 'packed cell volume'
q1 = df[column].quantile(0.25)
q3 = df[column].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(f'Lower Bound:{lower_bound}, Higher Bound: {upper_bound}')
remove_outliers = df[ (df[column] < lower_bound) | (df[column] > upper_bound) ][[column]].sort_values(column)
remove_outliers

Lower Bound:17.0, Higher Bound: 73.0

     packed cell volume
4                  74.0
144                75.0
151                75.0

**Удаляем**.

In [281]:
df[f'{column}.before cleansing'] = df[column]
df[column] = df[column].apply( lambda x: None if (x < lower_bound) | (x > upper_bound) else x )

Проверяем, что описательные статистики изменились (min, max).

In [282]:
df[[column,f'{column}.before cleansing']].describe()

       packed cell volume  packed cell volume.before cleansing
count          268.000000                           271.000000
mean            45.977612                            46.295203
std             10.031666                            10.419335
min             23.000000                            23.000000
25%             38.000000                            38.000000
50%             44.500000                            45.000000
75%             51.250000                            52.000000
max             73.000000                            75.000000

### total protein

In [283]:
column = 'total protein'
q1 = df[column].quantile(0.25)
q3 = df[column].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(f'Lower Bound:{lower_bound}, Higher Bound: {upper_bound}')
remove_outliers = df[ (df[column] < lower_bound) | (df[column] > upper_bound) ][[column]].sort_values(column)
remove_outliers

Lower Bound:-69.25, Higher Bound: 132.75

Empty DataFrame
Columns: [total protein]
Index: []

Выбросов нет.

# Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

## Заполнение пропусков в категориальных столбцах

Заполним значениями n/a.

In [284]:
for column in list_categorial_columns:
    df[column].fillna('n/a', inplace=True)

In [286]:
df[list_categorial_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    object
 1   Age                         300 non-null    object
 2   temperature of extremities  300 non-null    object
 3   peripheral pulse            300 non-null    object
 4   mucous membranes            300 non-null    object
dtypes: object(5)
memory usage: 11.8+ KB

In [285]:
df['surgery?'].value_counts()

Yes, it had surgery               180
It was treated without surgery    119
n/a                                 1
Name: surgery?, dtype: int64

## Заполнение пропусков в числовых столбцах

Заполним медианами.

In [287]:
for column in list_numeric_columns:
    df[column].fillna(df[column].median(), inplace=True)

In [288]:
df[list_numeric_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rectal temperature           300 non-null    float64
 1   pulse                        300 non-null    float64
 2   respiratory rate             300 non-null    float64
 3   nasogastric reflux PH        300 non-null    float64
 4   packed cell volume           300 non-null    float64
 5   total protein                300 non-null    float64
 6   abdomcentesis total protein  300 non-null    float64
dtypes: float64(7)
memory usage: 16.5 KB