In [1]:
import pandas as pd

## Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [25]:
log = pd.read_csv(r'c:\Users\petrenkovn\Dropbox\DS-22\Data_Files\visit_log.02.csv', sep=';')

# применение loc для фильтрации данных датафрейма и определения значений в новом столбце
log.loc[log['traffic_source'].str.contains('yandex|google'), 'source_type'] = 'organic'
log.loc[log['traffic_source'].str.contains('paid') & log['region'].str.contains('Russia'), 'source_type'] = 'ad'
log.loc[log['traffic_source'].str.contains('paid') & ~log['region'].str.contains('Russia'), 'source_type'] = 'other'
log.loc[pd.isnull(log['source_type']), 'source_type'] = log['traffic_source']

# проверка результатов работы - агрегация
log[['source_type','traffic_source','region','visit_id']].groupby(['source_type','traffic_source','region']).count()


# log.head()

                                      visit_id
source_type traffic_source region
ad          paid           Russia         1581
direct      direct         Australia       222
                           Belarus         998
                           China           397
                           India           134
                           Russia         4052
                           Ukraine        1210
email       email          Australia       115
                           Belarus         569
                           China           252
                           India            82
                           Russia         2209
                           Ukraine         648
organic     google         Australia        91
                           Belarus         376
                           China           151
                           India            55
                           Russia         1435
                           Ukraine         399
            yandex         Australia        88
                           Belarus         446
                           China           171
                           India            59
                           Russia         1636
                           Ukraine         500
other       paid           Australia        74
                           Belarus         368
                           China           138
                           India            39
                           Ukraine         443

## Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [35]:
urls = pd.read_csv(r'c:\Users\petrenkovn\Dropbox\DS-22\Data_Files\URLs.txt')

regex = '/\d{8}-'

urls_news = urls[ urls['url'].str.contains(regex, regex=True) ]

urls_news.head(100)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

## Задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [37]:
from pymystem3 import Mystem

In [53]:
# search = 'проверки проверка проверку'
m = Mystem()
# lemmas = m.lemmatize(search)
# lemmas

def lemmas_from_query(query):
    lemmas = m.lemmatize(query)
    str_lemmas = ' '.join(lemmas)
    return str_lemmas.strip()

data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

data['lemmas'] = data['keyword'].apply(lemmas_from_query)

data.head()

                 keyword   shows                     lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль
1        доллары в рубли  114173         доллар   в   рубль
2  100 долларов в рублях   97534   100   доллар   в   рубль
3             курс рубля   53546               курс   рубль